@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "IBM Plex Sans", sans-serif !important;
}


.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.753)), url("/hero-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
